.textfield {
  margin-bottom: 10px;
}

.textfield__input,
.textfield__textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  border: 1px solid #ccd1d1;
}

.textfield__textarea {
  resize: none;
}

.textfield__input:focus,
.textfield__textarea:focus {
  outline: 1px solid #7d3c98;
}

.textfield--error .textfield__input,
.textfield--error .textfield__textarea {
  border: 1px solid red;
}

.textfield__message {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}

.textfield--error .textfield__message {
  color: red;
}